@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
/* my font */
.my-font{
    font-family: 'Poppins', sans-serif;
}
/* my font colors */
.primary-color{
    color: #0A0826;
}
.text-color{
    color: #848199;
}
/* button styling here */
.my-btn{
    background-color: white;
    color: #3F87F5;
    border: none;
    border-radius: 5px;
    padding: 5px 26px;   
    font-size: 16px; 
    font-weight: 700;
    transition-duration: 0.4s;  
}
.my-btn:hover {
    background-image: linear-gradient(180deg, #4d7ecc 0%, #466699 100%);
    color: white;
}
.secondary-btn{
    background-color: #fdf2fa;
    color: #3F87F5;
    border: none;
    border-radius: 30px;
    padding: 10px 60px;   
    font-size: 16px; 
    font-weight: 700;
    transition-duration: 0.4s; 
}
.secondary-btn:hover {
    background-image: linear-gradient(180deg, #4d7ecc 0%, #466699 100%);
    color: white;
}
.third-btn{
    background-color: #ffffff;
    color: #3F87F5;
    border: none;
    border-radius: 30px;
    padding: 10px 60px;   
    font-size: 16px; 
    font-weight: 700;
    transition-duration: 0.4s;
}
.third-btn:hover {
    background-image: linear-gradient(180deg, #4d7ecc 0%, #466699 100%);
    color: white;
}
/* font awesome icon styling */
.fas{
    color: #5f9af3;
}
.fa{
    color: white;
}
/* footer styling here */
footer{
    
    color: white;
    text-align: center;
    background-color:#0B0D17;
    padding: 80px;
    margin-top: 60px;
}